@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
@-webkit-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@-webkit-keyframes fadeInBodyBG {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 0.7;
  }
}

@keyframes fadeInBodyBG {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 0.7;
  }
}

@-webkit-keyframes fadeOutBodyBG {
  0% {
    display: block;
    opacity: 0.7;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes fadeOutBodyBG {
  0% {
    display: block;
    opacity: 0.7;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

header .bgHelper {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: middle;
      -ms-flex-align: middle;
          align-items: middle;
  position: relative;
}

@media screen and (min-width: 30rem) {
  header .bgHelper {
    padding: 2rem 3rem;
  }
}

@media screen and (min-width: 40rem) {
  header .bgHelper {
    padding: 3rem 4rem;
  }
}

@media screen and (min-width: 50rem) {
  header .bgHelper {
    padding: 3rem 5rem;
  }
}

header .bgHelper .logo {
  position: relative;
  z-index: 10;
}

header .bgHelper #btnMobileMenu {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("../images/icon-hamburger.svg");
  background-size: cover;
  z-index: 10;
  border: none;
}

header .bgHelper nav {
  position: absolute;
  top: 7rem;
  left: 2rem;
  right: 2rem;
  text-align: center;
  background-color: white;
  border-radius: 4px;
  z-index: 10;
}

header .bgHelper nav li {
  margin: 1rem 0;
  padding: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .bgHelper nav li a {
  display: inline-block;
  height: 100%;
  width: 100%;
  color: #1d1e25;
  font-weight: 700;
}

header .bgHelper nav li:hover, header .bgHelper nav li:focus {
  cursor: pointer;
  background-color: #f6866a;
}

header .bgHelper nav li:active {
  background-color: #f25f3a;
}

header .bgHelper nav.close {
  -webkit-animation: fadeOut 2s forwards;
          animation: fadeOut 2s forwards;
}

header .bgHelper nav.open {
  -webkit-animation: fadeIn 2s forwards;
          animation: fadeIn 2s forwards;
}

header .bgHelper .btnGeneralStyle {
  display: none;
}

#intro .bgHelper {
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 30rem) {
  #intro .bgHelper {
    padding: 2rem 3rem;
  }
}

@media screen and (min-width: 40rem) {
  #intro .bgHelper {
    padding: 3rem 4rem;
  }
}

@media screen and (min-width: 50rem) {
  #intro .bgHelper {
    padding: 3rem 5rem;
  }
}

#intro .bgHelper .imageBox {
  width: 100%;
}

#intro .bgHelper .imageBox img {
  width: 100%;
}

#intro .bgHelper h1 {
  font-size: 2.3rem;
}

#intro .bgHelper p {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

#manage .bgHelper {
  padding-top: 2rem;
}

#manage .bgHelper .titleBox {
  padding: 2rem;
  text-align: center;
}

#manage .bgHelper .titleBox h2 {
  padding: 0 2rem;
}

#manage .bgHelper .titleBox p {
  margin-top: 0.5rem;
}

@media screen and (min-width: 30rem) {
  #manage .bgHelper .titleBox {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

#manage .bgHelper .itemBox {
  position: relative;
  padding: 1rem;
}

#manage .bgHelper .itemBox p {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

#manage .bgHelper .itemBox .itemNr {
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0.5rem 1.5rem;
  color: white;
  border-radius: 32px;
  background-color: #f25f3a;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

#manage .bgHelper .itemBox h3 {
  width: 100vw;
  display: inline-block;
  margin-left: 1rem;
  padding: 0.5rem 0 0.5rem 4rem;
  background-color: #ffefeb;
  font-size: 1rem;
}

@media screen and (min-width: 30rem) {
  #manage .bgHelper {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 40rem) {
  #manage .bgHelper {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

#testimonials .bgHelper {
  padding: 2rem;
  text-align: center;
}

@media screen and (min-width: 30rem) {
  #testimonials .bgHelper {
    padding: 2rem 3rem;
  }
}

@media screen and (min-width: 40rem) {
  #testimonials .bgHelper {
    padding: 3rem 4rem;
  }
}

@media screen and (min-width: 50rem) {
  #testimonials .bgHelper {
    padding: 3rem 5rem;
  }
}

#testimonials .bgHelper h2 {
  margin-bottom: 3rem;
}

#testimonials .bgHelper .card {
  position: relative;
  height: 230px;
  border-radius: 8px;
  background-color: #fafafa;
  margin-top: 4rem;
  padding: 0 1rem;
  -webkit-animation: fadeIn 2s forwards ease-in-out;
          animation: fadeIn 2s forwards ease-in-out;
}

#testimonials .bgHelper .card .avatar {
  margin: 0 auto;
  width: 75px;
  -webkit-transform: translate(0, -2rem);
          transform: translate(0, -2rem);
}

#testimonials .bgHelper .card .avatar img {
  width: 100%;
}

#testimonials .bgHelper .card h3 {
  margin-bottom: 1.5rem;
}

#testimonials .bgHelper #testimonialNavBlock {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

#testimonials .bgHelper #testimonialNavBlock ul li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 2px solid #f25f3a;
}

#testimonials .bgHelper #testimonialNavBlock ul li.bgColorBrightRed {
  background-color: #f25f3a;
}

#testimonials .bgHelper #testimonialNavBlock ul li:hover {
  cursor: pointer;
}

#testimonials .bgHelper button {
  margin-bottom: 2rem;
}

#getStarted {
  background-color: #f25f3a;
  background-image: url("../images/bg-simplify-section-mobile.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

#getStarted .bgHelper {
  text-align: center;
  padding: 6.5rem 0;
}

@media screen and (min-width: 40rem) {
  #getStarted .bgHelper {
    padding: 5rem 0;
  }
}

#getStarted .bgHelper h1 {
  padding: 0 2rem;
  color: white;
  font-size: 2.3rem;
}

@media screen and (min-width: 40rem) {
  #getStarted .bgHelper h1 {
    margin-bottom: 2rem;
  }
}

#getStarted .bgHelper button {
  margin-top: 2rem;
  padding: 0.8rem 2.2rem;
  background-color: white;
  color: #f25f3a;
  border: none;
  border-radius: 26px;
  font-size: 0.9rem;
  font-weight: 700;
  -webkit-box-shadow: 1px 1px 10px 0px white;
          box-shadow: 1px 1px 10px 0px white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#getStarted .bgHelper button:hover, #getStarted .bgHelper button:focus {
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 15px 5px white;
          box-shadow: 1px 1px 15px 5px white;
  outline: none;
}

#getStarted .bgHelper button:active {
  color: #334075;
  -webkit-box-shadow: 1px 1px 15px 5px white;
          box-shadow: 1px 1px 15px 5px white;
}

footer {
  background-color: #1d1e25;
}

footer .bgHelper {
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 2fr (auto)[3];
      grid-template-rows: 1fr 2fr repeat(3, auto);
      grid-template-areas: "mail mail" "navbar1 navbar2" "socialMedia socialMedia" "logo logo" "copyright copyright";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

@media screen and (min-width: 30rem) {
  footer .bgHelper {
    padding: 2rem 3rem;
  }
}

@media screen and (min-width: 40rem) {
  footer .bgHelper {
    padding: 3rem 4rem;
  }
}

@media screen and (min-width: 50rem) {
  footer .bgHelper {
    padding: 3rem 5rem;
  }
}

footer .bgHelper nav ul li {
  padding: 0.3rem 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

footer .bgHelper nav ul li:hover, footer .bgHelper nav ul li:focus {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .bgHelper nav ul li:active a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #f25f3a;
}

footer .bgHelper nav ul li:active svg path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  fill: #f25f3a;
}

footer .bgHelper nav ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: white;
}

footer .bgHelper nav:nth-child(1) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: navbar1;
}

footer .bgHelper nav:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: navbar2;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

footer .bgHelper #logo {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: logo;
}

footer .bgHelper #logo #textColor {
  fill: white;
}

footer .bgHelper form {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: mail;
  position: relative;
}

footer .bgHelper form #inputBoxMail {
  padding: 0.8rem 1.4rem;
  font-size: 0.9rem;
  border-radius: 26px;
  border: none;
  width: 14.9rem;
}

footer .bgHelper form.valid #inputBoxMail {
  outline: 2px solid lightgreen;
}

footer .bgHelper form.error #inputBoxMail {
  outline: 2px solid #f25f3a;
  color: #f25f3a;
}

footer .bgHelper form.error::after {
  position: absolute;
  content: "Please enter a valid e-mail.";
  top: 3rem;
  left: 0;
  padding-left: 1rem;
  font-size: 0.9rem;
  color: #f25f3a;
}

footer .bgHelper form #btnSubmitForm {
  padding: 0.8rem 1.5rem;
}

footer .bgHelper #socialMediaBox {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: socialMedia;
  width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .bgHelper #socialMediaBox a {
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

footer .bgHelper #socialMediaBox a:hover, footer .bgHelper #socialMediaBox a:focus {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .bgHelper #socialMediaBox a:active a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #f25f3a;
}

footer .bgHelper #socialMediaBox a:active svg path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  fill: #f25f3a;
}

footer .bgHelper #socialMediaBox a svg {
  width: 100%;
  height: 100%;
}

footer .bgHelper #copyright {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: copyright;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
p,
a,
button,
input,
::after {
  font-family: "Be Vietnam", sans-serif;
}

h1,
h2,
h3 {
  color: #242d52;
  font-weight: 700;
}

h1 {
  line-height: 3rem;
}

p {
  color: #9095a7;
  line-height: 24px;
  font-size: 0.9rem;
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
}

.displayNone {
  display: none;
}

.btnGeneralStyle {
  padding: 0.8rem 2.2rem;
  background-color: #f25f3a;
  color: white;
  border: none;
  border-radius: 26px;
  font-size: 0.9rem;
  font-weight: 700;
  -webkit-box-shadow: 1px 1px 10px 0px #f25f3a;
          box-shadow: 1px 1px 10px 0px #f25f3a;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btnGeneralStyle:hover, .btnGeneralStyle:focus {
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 15px 5px #f25f3a;
          box-shadow: 1px 1px 15px 5px #f25f3a;
  outline: none;
}

.btnGeneralStyle:active {
  color: #334075;
  -webkit-box-shadow: 1px 1px 15px 5px #f6866a;
          box-shadow: 1px 1px 15px 5px #f6866a;
}

body {
  position: relative;
}

body::before, body::after {
  position: absolute;
  content: "";
  background-image: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

body::before {
  top: -3rem;
  right: -5rem;
  width: 25rem;
  height: 25rem;
  z-index: -1;
}

body::after {
  top: 29rem;
  right: -12rem;
  width: 20rem;
  height: 20rem;
  z-index: -1;
}

body.overflowHidden {
  overflow: hidden;
}

@media screen and (min-width: 40rem) {
  body::before {
    top: -3rem;
    right: -2rem;
    width: 35rem;
    height: 35rem;
  }
  body::after {
    top: 33rem;
    right: -8rem;
    width: 25rem;
    height: 25rem;
  }
}

#modalBodyBG {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#1d1e25));
  background-image: linear-gradient(to Bottom, #fafafa, #1d1e25);
  opacity: 0.7;
  z-index: 2;
}

#modalBodyBG.openModalBG {
  -webkit-animation: fadeInBodyBG 2s forwards;
          animation: fadeInBodyBG 2s forwards;
}

#modalBodyBG.closeModalBG {
  -webkit-animation: fadeOutBodyBG 2s forwards;
          animation: fadeOutBodyBG 2s forwards;
}
/*# sourceMappingURL=main.css.map */