@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
@-webkit-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@-webkit-keyframes fadeInBodyBG {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 0.7;
  }
}

@keyframes fadeInBodyBG {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 0.7;
  }
}

@-webkit-keyframes fadeOutBodyBG {
  0% {
    display: block;
    opacity: 0.7;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes fadeOutBodyBG {
  0% {
    display: block;
    opacity: 0.7;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@-webkit-keyframes sliderSmallDesktop {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  20% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  40% {
    -webkit-transform: translateX(-380px);
            transform: translateX(-380px);
  }
  60% {
    -webkit-transform: translateX(-380px);
            transform: translateX(-380px);
  }
  80% {
    -webkit-transform: translateX(-770px);
            transform: translateX(-770px);
  }
  100% {
    -webkit-transform: translateX(-770px);
            transform: translateX(-770px);
  }
}

@keyframes sliderSmallDesktop {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  20% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  40% {
    -webkit-transform: translateX(-380px);
            transform: translateX(-380px);
  }
  60% {
    -webkit-transform: translateX(-380px);
            transform: translateX(-380px);
  }
  80% {
    -webkit-transform: translateX(-770px);
            transform: translateX(-770px);
  }
  100% {
    -webkit-transform: translateX(-770px);
            transform: translateX(-770px);
  }
}

@-webkit-keyframes sliderMediumDesktop {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  30% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  70% {
    -webkit-transform: translateX(-610px);
            transform: translateX(-610px);
  }
  100% {
    -webkit-transform: translateX(-610px);
            transform: translateX(-610px);
  }
}

@keyframes sliderMediumDesktop {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  30% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  70% {
    -webkit-transform: translateX(-610px);
            transform: translateX(-610px);
  }
  100% {
    -webkit-transform: translateX(-610px);
            transform: translateX(-610px);
  }
}

@-webkit-keyframes sliderLargeDesktop {
  0% {
    -webkit-transform: translateX(-140px);
            transform: translateX(-140px);
  }
  30% {
    -webkit-transform: translateX(-140px);
            transform: translateX(-140px);
  }
  70% {
    -webkit-transform: translateX(-560px);
            transform: translateX(-560px);
  }
  100% {
    -webkit-transform: translateX(-560px);
            transform: translateX(-560px);
  }
}

@keyframes sliderLargeDesktop {
  0% {
    -webkit-transform: translateX(-140px);
            transform: translateX(-140px);
  }
  30% {
    -webkit-transform: translateX(-140px);
            transform: translateX(-140px);
  }
  70% {
    -webkit-transform: translateX(-560px);
            transform: translateX(-560px);
  }
  100% {
    -webkit-transform: translateX(-560px);
            transform: translateX(-560px);
  }
}

@-webkit-keyframes sliderXLargeDesktop {
  0% {
    -webkit-transform: translateX(-135px);
            transform: translateX(-135px);
  }
  30% {
    -webkit-transform: translateX(-135px);
            transform: translateX(-135px);
  }
  70% {
    -webkit-transform: translateX(-570px);
            transform: translateX(-570px);
  }
  100% {
    -webkit-transform: translateX(-570px);
            transform: translateX(-570px);
  }
}

@keyframes sliderXLargeDesktop {
  0% {
    -webkit-transform: translateX(-135px);
            transform: translateX(-135px);
  }
  30% {
    -webkit-transform: translateX(-135px);
            transform: translateX(-135px);
  }
  70% {
    -webkit-transform: translateX(-570px);
            transform: translateX(-570px);
  }
  100% {
    -webkit-transform: translateX(-570px);
            transform: translateX(-570px);
  }
}

header .bgHelper {
  padding: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 30rem) {
  header .bgHelper {
    padding: 2rem 3rem;
  }
}

@media screen and (min-width: 40rem) {
  header .bgHelper {
    padding: 3rem 4rem;
  }
}

@media screen and (min-width: 50rem) {
  header .bgHelper {
    padding: 3rem 5rem;
  }
}

@media screen and (min-width: 75rem) {
  header .bgHelper {
    width: 64rem;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

header .logo {
  position: relative;
  z-index: 10;
}

header .logo img {
  vertical-align: middle;
}

header #btnMobileMenu {
  position: relative;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  background-image: url("../images/icon-hamburger.svg");
  background-size: cover;
  z-index: 10;
}

@media screen and (min-width: 60rem) {
  header #btnMobileMenu {
    display: none;
  }
}

header #mainNavBar {
  position: absolute;
  top: 7rem;
  left: 2rem;
  right: 2rem;
  border-radius: 4px;
  background-color: white;
  text-align: center;
  z-index: 10;
}

@media screen and (min-width: 60rem) {
  header #mainNavBar {
    display: initial;
    position: static;
    margin: 0;
    padding: 0;
    background-color: unset;
  }
  header #mainNavBar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
}

header #mainNavBar.close {
  -webkit-animation: fadeOut 2s forwards;
          animation: fadeOut 2s forwards;
}

header #mainNavBar.open {
  -webkit-animation: fadeIn 2s forwards;
          animation: fadeIn 2s forwards;
}

header li {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 60rem) {
  header li {
    margin: 0;
    padding: 0.5rem;
  }
}

header li:hover, header li:focus {
  background-color: #f6866a;
  cursor: pointer;
}

header li:active {
  background-color: #f25f3a;
}

header a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #1d1e25;
  font-weight: 700;
}

header .btnGeneralStyle {
  display: none;
}

@media screen and (min-width: 60rem) {
  header .btnGeneralStyle {
    display: block;
  }
}

#intro .bgHelper {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (min-width: 30rem) {
  #intro .bgHelper {
    padding: 2rem 3rem;
  }
}

@media screen and (min-width: 40rem) {
  #intro .bgHelper {
    padding: 3rem 4rem;
  }
}

@media screen and (min-width: 50rem) {
  #intro .bgHelper {
    padding: 3rem 5rem;
  }
}

@media screen and (min-width: 75rem) {
  #intro .bgHelper {
    width: 64rem;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 50rem) {
  #intro .bgHelper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 1rem;
    text-align: left;
  }
}

#intro .imageBox {
  width: 100%;
}

#intro .imageBox img {
  width: 100%;
}

#intro h1 {
  font-size: 2.3rem;
}

#intro p {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 50rem) {
  #intro p {
    margin: 2rem 0 3rem 0;
    padding-right: 8rem;
  }
}

#manage .bgHelper {
  padding: 2rem;
  padding-top: 2rem;
  padding-bottom: 0;
}

@media screen and (min-width: 30rem) {
  #manage .bgHelper {
    padding: 2rem 3rem;
  }
}

@media screen and (min-width: 40rem) {
  #manage .bgHelper {
    padding: 3rem 4rem;
  }
}

@media screen and (min-width: 50rem) {
  #manage .bgHelper {
    padding: 3rem 5rem;
  }
}

@media screen and (min-width: 75rem) {
  #manage .bgHelper {
    width: 64rem;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 60rem) {
  #manage .bgHelper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
  }
}

#manage .titleBox {
  padding: 2rem;
  text-align: center;
}

@media screen and (min-width: 30rem) {
  #manage .titleBox {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (min-width: 60rem) {
  #manage .titleBox {
    padding: 0;
    text-align: left;
  }
}

#manage .titleBox p {
  margin-top: 0.5rem;
}

@media screen and (min-width: 60rem) {
  #manage .titleBox p {
    padding-right: 4rem;
  }
}

#manage h2 {
  padding: 0 2rem;
}

@media screen and (min-width: 60rem) {
  #manage h2 {
    padding: 0;
    padding-bottom: 1rem;
  }
}

#manage .itemBox {
  position: relative;
}

@media screen and (min-width: 60rem) {
  #manage .itemBox {
    padding: 0;
  }
}

#manage .itemBox p {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 60rem) {
  #manage .itemBox p {
    padding-left: 5rem;
  }
}

#manage .itemBox p:last-of-type {
  margin-bottom: 0;
}

#manage .itemBox .itemNr {
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0.5rem 1.5rem;
  border-radius: 32px;
  background-color: #f25f3a;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  text-align: center;
}

#manage h3 {
  width: 100vw;
  display: inline-block;
  margin-left: 1rem;
  padding: 0.5rem 0 0.5rem 4rem;
  background-color: #ffefeb;
  font-size: 1rem;
}

@media screen and (min-width: 60rem) {
  #manage h3 {
    width: unset;
    margin-left: 0;
    padding-left: 5rem;
    background-color: unset;
  }
}

#testimonials .bgHelper {
  padding: 2rem;
  text-align: center;
}

@media screen and (min-width: 30rem) {
  #testimonials .bgHelper {
    padding: 2rem 3rem;
  }
}

@media screen and (min-width: 40rem) {
  #testimonials .bgHelper {
    padding: 3rem 4rem;
  }
}

@media screen and (min-width: 50rem) {
  #testimonials .bgHelper {
    padding: 3rem 5rem;
  }
}

@media screen and (min-width: 75rem) {
  #testimonials .bgHelper {
    width: 64rem;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 60rem) {
  #testimonials .bgHelper {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 60rem) {
  #testimonials #testimonialBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1730px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-animation: sliderSmallDesktop 20s alternate 5s infinite;
            animation: sliderSmallDesktop 20s alternate 5s infinite;
  }
}

@media screen and (min-width: 70rem) {
  #testimonials #testimonialBox {
    -webkit-animation: sliderMediumDesktop 20s alternate 5s infinite;
            animation: sliderMediumDesktop 20s alternate 5s infinite;
  }
}

@media screen and (min-width: 80rem) {
  #testimonials #testimonialBox {
    -webkit-transform: translateX(-140px);
            transform: translateX(-140px);
    -webkit-animation: sliderLargeDesktop 20s alternate 5s infinite;
            animation: sliderLargeDesktop 20s alternate 5s infinite;
  }
}

@media screen and (min-width: 90rem) {
  #testimonials #testimonialBox {
    -webkit-transform: translateX(-135px);
            transform: translateX(-135px);
    -webkit-animation: sliderXLargeDesktop 20s alternate 5s infinite;
            animation: sliderXLargeDesktop 20s alternate 5s infinite;
  }
}

#testimonials h2 {
  margin-bottom: 3rem;
}

#testimonials .card {
  position: relative;
  height: 230px;
  border-radius: 8px;
  background-color: #fafafa;
  margin-top: 4rem;
  padding: 0 1rem;
  -webkit-animation: fadeIn 2s forwards ease-in-out;
          animation: fadeIn 2s forwards ease-in-out;
}

@media screen and (min-width: 60rem) {
  #testimonials .card {
    width: 400px;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 260px;
  }
}

#testimonials .avatar {
  width: 75px;
  margin: 0 auto;
  -webkit-transform: translate(0, -2rem);
          transform: translate(0, -2rem);
}

#testimonials .avatar img {
  width: 100%;
}

#testimonials h3 {
  margin-bottom: 1.5rem;
}

#testimonials #testimonialNavBlock {
  margin-top: 1.5rem;
}

@media screen and (min-width: 60rem) {
  #testimonials #testimonialNavBlock {
    display: none;
  }
}

#testimonials li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #f25f3a;
  border-radius: 5px;
}

#testimonials li.bgColorBrightRed {
  background-color: #f25f3a;
}

#testimonials li:hover {
  cursor: pointer;
}

#testimonials button {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

#getStarted {
  background-color: #f25f3a;
  background-image: url("../images/bg-simplify-section-mobile.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

@media screen and (min-width: 60rem) {
  #getStarted {
    background-image: url("../images/bg-simplify-section-desktop.svg");
  }
}

#getStarted .bgHelper {
  padding: 6.5rem 0;
  text-align: center;
}

@media screen and (min-width: 40rem) {
  #getStarted .bgHelper {
    padding: 5rem 0;
  }
}

@media screen and (min-width: 60rem) {
  #getStarted .bgHelper {
    padding: 3rem 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 75rem) {
  #getStarted .bgHelper {
    width: 64rem;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

#getStarted h1 {
  padding: 0 2rem;
  font-size: 2.3rem;
  color: white;
}

@media screen and (min-width: 40rem) {
  #getStarted h1 {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 60rem) {
  #getStarted h1 {
    width: 27rem;
    margin-bottom: 0;
    padding: 0;
    text-align: left;
  }
}

#getStarted button {
  margin-top: 2rem;
  padding: 0.8rem 2.2rem;
  border: none;
  border-radius: 26px;
  background-color: white;
  font-size: 0.9rem;
  font-weight: 700;
  -webkit-box-shadow: 1px 1px 10px 0px white;
          box-shadow: 1px 1px 10px 0px white;
  color: #f25f3a;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#getStarted button:hover, #getStarted button:focus {
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 15px 5px white;
          box-shadow: 1px 1px 15px 5px white;
  outline: none;
}

#getStarted button:active {
  color: #334075;
  -webkit-box-shadow: 1px 1px 15px 5px white;
          box-shadow: 1px 1px 15px 5px white;
}

@media screen and (min-width: 60rem) {
  #getStarted button {
    margin-top: 0;
  }
}

footer {
  background-color: #1d1e25;
}

footer .bgHelper {
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 2fr (auto)[3];
      grid-template-rows: 1fr 2fr repeat(3, auto);
      grid-template-areas: "mail mail" "navbar1 navbar2" "socialMedia socialMedia" "logo logo" "copyright copyright";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

@media screen and (min-width: 30rem) {
  footer .bgHelper {
    padding: 2rem 3rem;
  }
}

@media screen and (min-width: 40rem) {
  footer .bgHelper {
    padding: 3rem 4rem;
  }
}

@media screen and (min-width: 50rem) {
  footer .bgHelper {
    padding: 3rem 5rem;
  }
}

@media screen and (min-width: 75rem) {
  footer .bgHelper {
    width: 64rem;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 60rem) {
  footer .bgHelper {
    -ms-grid-columns: 1.5fr 1fr 1fr 315px;
        grid-template-columns: 1.5fr 1fr 1fr 315px;
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "logo navbar1 navbar2 mail" ". navbar1 navbar2 ." "socialMedia navbar1 navbar2 copyright";
    gap: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer nav:nth-child(1) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: navbar1;
}

footer nav:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: navbar2;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

footer nav li {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 0.3rem 0;
}

footer nav li:hover, footer nav li:focus {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer nav li:active a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #f25f3a;
}

footer nav li:active svg path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  fill: #f25f3a;
}

@media screen and (min-width: 60rem) {
  footer nav li {
    padding-top: 0;
  }
}

footer nav a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: white;
}

footer #logo {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: logo;
}

footer #logo #textColor {
  fill: white;
}

@media screen and (min-width: 60rem) {
  footer #logo {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

footer form {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: mail;
  position: relative;
}

@media screen and (min-width: 60rem) {
  footer form {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

footer form.valid #inputBoxMail {
  outline: 2px solid lightgreen;
}

footer form.error #inputBoxMail {
  outline: 2px solid #f25f3a;
  color: #f25f3a;
}

footer form.error::after {
  position: absolute;
  content: "Please enter a valid e-mail.";
  top: 3rem;
  left: 0;
  padding-left: 1rem;
  font-size: 0.9rem;
  color: #f25f3a;
}

footer #inputBoxMail {
  width: 14.9rem;
  padding: 0.8rem 1.4rem;
  border: none;
  border-radius: 26px;
  font-size: 0.9rem;
}

footer #btnSubmitForm {
  padding: 0.8rem 1.5rem;
}

footer #socialMediaBox {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: socialMedia;
  width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 60rem) {
  footer #socialMediaBox {
    width: 100%;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

footer #socialMediaBox a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 30px;
  height: 30px;
}

footer #socialMediaBox a:hover, footer #socialMediaBox a:focus {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer #socialMediaBox a:active a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #f25f3a;
}

footer #socialMediaBox a:active svg path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  fill: #f25f3a;
}

footer #socialMediaBox a svg {
  width: 100%;
  height: 100%;
}

footer #copyright {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: copyright;
}

@media screen and (min-width: 60rem) {
  footer #copyright {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
p,
a,
button,
input,
::after {
  font-family: "Be Vietnam", sans-serif;
}

h1,
h2,
h3 {
  color: #242d52;
  font-weight: 700;
}

h1 {
  line-height: 3rem;
}

p {
  color: #9095a7;
  line-height: 24px;
  font-size: 0.9rem;
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
}

.displayNone {
  display: none;
}

.btnGeneralStyle {
  padding: 0.8rem 2.2rem;
  border: none;
  border-radius: 26px;
  background-color: #f25f3a;
  font-size: 0.9rem;
  font-weight: 700;
  -webkit-box-shadow: 1px 1px 10px 0px #f25f3a;
          box-shadow: 1px 1px 10px 0px #f25f3a;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btnGeneralStyle:hover, .btnGeneralStyle:focus {
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 15px 5px #f25f3a;
          box-shadow: 1px 1px 15px 5px #f25f3a;
  outline: none;
}

.btnGeneralStyle:active {
  color: #334075;
  -webkit-box-shadow: 1px 1px 15px 5px #f6866a;
          box-shadow: 1px 1px 15px 5px #f6866a;
}

body {
  position: relative;
  overflow-x: hidden;
}

body.overflowHidden {
  overflow: hidden;
}

body::before, body::after {
  position: absolute;
  content: "";
  background-image: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

body::before {
  top: -3rem;
  right: -5rem;
  width: 25rem;
  height: 25rem;
  z-index: -1;
}

body::after {
  top: 29rem;
  right: -12rem;
  width: 20rem;
  height: 20rem;
  z-index: -1;
}

@media screen and (min-width: 40rem) {
  body::before {
    right: -2rem;
    width: 35rem;
    height: 35rem;
  }
  body::after {
    top: 33rem;
    right: -8rem;
    width: 25rem;
    height: 25rem;
  }
}

@media screen and (min-width: 50rem) {
  body::after {
    background-image: none;
  }
}

@media screen and (min-width: 60rem) {
  body::after {
    top: 56rem;
    left: -17rem;
    width: 35rem;
    height: 35rem;
    background-image: url("../images/bg-tablet-pattern.svg");
  }
}

@media screen and (min-width: 64rem) {
  body::before {
    top: -2rem;
    right: -4rem;
    width: 40rem;
    height: 40rem;
  }
}

@media screen and (min-width: 75rem) {
  body::before {
    top: -3rem;
    right: -3rem;
    width: 42rem;
    height: 42rem;
  }
  body::after {
    top: 57rem;
    left: -13rem;
  }
}

#modalBodyBG {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#1d1e25));
  background-image: linear-gradient(to Bottom, #fafafa, #1d1e25);
  opacity: 0.7;
  z-index: 2;
}

#modalBodyBG.openModalBG {
  -webkit-animation: fadeInBodyBG 2s forwards;
          animation: fadeInBodyBG 2s forwards;
}

#modalBodyBG.closeModalBG {
  -webkit-animation: fadeOutBodyBG 2s forwards;
          animation: fadeOutBodyBG 2s forwards;
}
/*# sourceMappingURL=main.css.map */