header {
  .bgHelper {
    @include sectionPadding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .logo {
      position: relative;
      z-index: 10;

      img {
        vertical-align: middle;
      }
    }

    #btnMobileMenu {
      position: relative;
      width: 24px;
      height: 24px;
      background-color: transparent;
      background-image: url("../images/icon-hamburger.svg");
      background-size: cover;
      z-index: 10;
      border: none;

      @media screen and (min-width: 60rem) {
        display: none;
      }
    }

    nav {
      position: absolute;
      top: 7rem;
      left: 2rem;
      right: 2rem;
      text-align: center;
      background-color: white;
      border-radius: 4px;
      z-index: 10;

      @media screen and (min-width: 60rem) {
        display: initial;
        position: static;
        margin: 0;
        padding: 0;
        background-color: unset;

        ul {
          display: flex;
          gap: 1rem;
        }
      }

      li {
        margin: 1rem 0;
        padding: 1rem;
        transition: all 0.3s ease-in-out;
        border-radius: 12px;

        @media screen and (min-width: 60rem) {
          margin: 0;
          padding: 0.5rem;
        }

        a {
          display: inline-block;
          height: 100%;
          width: 100%;

          color: $veryDarkBlue;
          font-weight: 700;
        }

        &:hover,
        &:focus {
          cursor: pointer;
          background-color: lighten($brightRed, $amount: 10);
        }
        &:active {
          background-color: $brightRed;
        }
      }

      &.close {
        animation: fadeOut 2s forwards;
      }

      &.open {
        animation: fadeIn 2s forwards;
      }
    }

    .btnGeneralStyle {
      display: none;

      @media screen and (min-width: 60rem) {
        display: block;
      }
    }
  }
}
