#manage {
  .bgHelper {
    .titleBox {
      padding: 2rem;
      text-align: center;

      h2 {
        padding: 0 2rem;
      }
      p {
        margin-top: 0.5rem;
      }
    }

    .itemBox {
      position: relative;
      padding: 1rem;

      p {
        margin-top: 1rem;
        margin-bottom: 3rem;
      }
      .itemNr {
        display: inline-block;
        position: absolute;
        margin: 0;
        padding: 0.5rem 1.5rem;
        color: white;
        border-radius: 32px;
        background-color: $brightRed;
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
      }

      h3 {
        width: 100vw;
        display: inline-block;
        margin-left: 1rem;
        padding: 0.5rem 0 0.5rem 4rem;
        background-color: $veryPaleRed;
        font-size: 1rem;
      }
    }
  }
}
