#testimonials {
  .bgHelper {
    @include sectionPadding;
    text-align: center;

    h2 {
      margin-bottom: 3rem;
    }

    .card {
      position: relative;
      height: 280px;
      border-radius: 8px;
      background-color: $veryLightGray;
      margin-top: 4rem;
      padding: 0 1rem;
      animation: fadeIn 2s forwards ease-in-out;

      .avatar {
        position: absolute;

        width: 75px;
        transform: translate(150%, -2rem);
        img {
          width: 100%;
        }
      }
      h3 {
        padding-top: 4rem;
        margin-bottom: 1.5rem;
      }
    }

    #testimonialNavBlock {
      margin-top: 1.5rem;
      margin-bottom: 3rem;

      ul li {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        border: 2px solid $brightRed;

        &.bgColorBrightRed {
          background-color: $brightRed;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    button {
      margin-bottom: 2rem;
    }
  }
}
