footer {
  background-color: $veryDarkBlue;

  .bgHelper {
    @include sectionPadding;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr repeat(3, auto);
    grid-template-areas:
      "mail mail"
      "navbar1 navbar2"
      "socialMedia socialMedia"
      "logo logo"
      "copyright copyright";
    justify-items: center;
    align-items: center;
    gap: 2rem;

    nav {
      ul {
        li {
          padding: 0.3rem 0;
          @include footerHoverEffects;
          a {
            display: inline-block;
            width: 100%;
            height: 100%;
            color: white;
          }
        }
      }

      &:nth-child(1) {
        grid-area: navbar1;
      }

      &:nth-child(2) {
        grid-area: navbar2;
        align-self: baseline;
      }
    }

    #logo {
      grid-area: logo;
      #textColor {
        fill: white;
      }
    }

    form {
      grid-area: mail;
      width: 100%;
      position: relative;

      #inputBoxMail {
        padding: 0.8rem 1.4rem;
        font-size: 0.9rem;
        border-radius: 26px;
        border: none;
        width: 14.9rem;
      }

      &.valid #inputBoxMail {
        outline: 2px solid lightgreen;
      }
      &.error #inputBoxMail {
        outline: 2px solid $brightRed;
        color: $brightRed;
      }

      &.error {
        &::after {
          position: absolute;
          content: "Please enter a valid e-mail.";
          top: 3rem;
          left: 0;
          padding-left: 1rem;
          font-size: 0.9rem;
          color: $brightRed;
        }
      }

      #btnSubmitForm {
        padding: 0.8rem 1.5rem;
      }
    }

    #socialMediaBox {
      grid-area: socialMedia;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      

        a {
          width: 30px;
          height: 30px;

          @include footerHoverEffects;
          svg {
            width: 100%;
            height: 100%;
          }
        
      }
    }

    #copyright {
      grid-area: copyright;
    }
  }
}
